@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Noto+Sans:ital,wght@1,600&family=Quicksand:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Golos+Text&family=Noto+Sans:ital,wght@1,600&family=Quicksand:wght@300;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Golos Text', sans-serif;
    /* font-family: 'Noto Sans', sans-serif; */
    /* font-family: 'Quicksand', sans-serif; */
    color: black;
    font-size: medium;
}


body{
    /* display: flex; */
    background-color: #D3E1EB;
    background-image: url(./Iconos/Captura\ de\ pantalla\ 2023-03-11\ 172841.jpg);
    background-repeat: no-repeat;
    background-position: 50px 50px;
    background-size: 750px;
    background-position: 150px 150px;
    
}

#header{
    background-color: rgb(255, 255, 255) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
}

.logo {
    cursor: pointer;
}


.imgLogo{
    height: 100px;
    width: auto;
    transition: all 0.3s;
}

.imgLogo:hover{
    transform:scale(1.2) ;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline;
    padding: 0 20px;
}

h1{
    font-size: 50px;
}

main{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: rgb(0, 255, 21); */
    height: 800px;

}

.img-catalogo{
    height: 600px;
    width: 1500px;
    /* background-color: aqua; */
}

#img{
    width: 100%;
}

footer{
    height: 100px;
    background-color: white;
} 